@keyframes slideInBottom {
    from {
        transform: translateY(300px);
    }

    to {
        transform: translateY(0);
    }
}

animation-name: slideInBottom;
animation-duration: 1s;
animation-timing-function: ease;
animation-delay: 0s;
animation-iteration-count: 1;
animation-direction: normal;
animation-fill-mode: none;


